:root {
    --blogo-background: #18181b;
    --blogo-primary: #0284c7;
    --blogo-primary-emphasis: #3b82f6;
    --blogo-secondary: #16a34a;
    --blogo-secondary-emphasis: #22c55e;
    --blogo-text: #d4d4d4;
    --blogo-text-fade: #6e6d6d;
    --blogo-text-title: #e5e5e5;
    --blogo-blockquote: #84cc16;
}